body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background: url('../images/background-img.jpg');
}

header {
    padding-top: 0px;
    padding-right: 20px;
    margin: 20px;
    text-align: right;
    text-shadow: -5px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
    color: lightgoldenrodyellow;
    font-size: 80px; 
    font-style: italic;
    font-weight: bold;
}

.letters {
    height: 125px;
}

.start,
.wins,
.character,
.guessleft,
.letters {
    padding-top: 20px;
    border: solid green;
    margin: 15px;
    background-color: lightgoldenrodyellow;
    opacity: .8;
    font-size: 22px;
}

#currentWord,
#guessedLetters {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#game-over-img, 
#start-game { 
    padding: 20px;
    border: solid green;
    margin: 15px;
    background-color: lightgoldenrodyellow;
    opacity: .8;
    font-size: 22px;
}
#you-win {
    padding: 20px;
    border: solid lightgoldenrodyellow;
    margin: 15px;
    background-color: green;
    font-size: 22px;
    font-weight: bold;
    color: lightgoldenrodyellow;
}

#game-over {
    padding: 20px;
    border: solid lightgoldenrodyellow;
    margin: 15px;
    background-color: red;
    font-size: 22px;
    font-weight: bold;
    color: lightgoldenrodyellow;
}
